.triangles {
    display: flex;
    color: #fff;
}

.triangle {
    fill: #fff;
}

.triangles__item {
    width: 50%;
    height: 125px;
    @media screen and (max-width: $bp-phones) {
        height: 80px;
    }
    @media screen and (max-width: $bp-phones) {
        height: 50px;
    }
}