script(type="text/x-template")#reviews-container
  .reviews__wrapper
    .reviews__header
      h2.reviews__title Что обо мне говорят
      .reviews__buttons
         button(
             type="button"
             @click="slideChange('prev')"
           ).circle-btn
             +icon("arrow-down", "left-arrow")
         button(
             type="button"
             @click="slideChange('next')"
           ).circle-btn
             +icon("arrow-down", "right-arrow")
    swiper(ref="reviews-slider" :options="sliderOptions")
     swiper-slide(v-for="review in reviews" :key="review.id")
        .review-item
             +icon("quote", "review-item__quote-icon")
             .review-item__card
               .review-item__text
                 p {{review.text}}
               .review-item__author
                 .avatar.review-item__avatar(:style="{background: `url(${review.photo}) no-repeat center center`, backgroundSize: 'cover'}")
                 .review-item__author-info
                   .review-item__author-name {{review.author}}
                   .review-item__author-position {{review.occ}}


script(type="text/x-template")#reviews-item

