.last-chapters__content
    picture.layer
        source(media="(min-width: 1800px)" type="image/jpeg" srcset=require("images/last/1800min/Budda.jpg"))
        source(media="(min-width: 1200px)" type="image/jpeg" srcset=require("images/last/1800min/Budda.jpg"))
        source(media="(min-width: 769px)" type="image/jpeg" srcset=require("images/last/1200min/Budda.jpg"))
        source(media="(max-width: 768px)" type="image/jpeg" srcset=require("images/last/769min/Budda.jpg"))
        img(src="" alt="").brackpoint__image