.welcome-chapters__content
   picture.parallax__layer.sky
       source(media="(min-width: 1800px)" type="image/jpeg" srcset=require("images/welcome/1800min/Sky1.jpg"))
       source(media="(min-width: 1200px)" type="image/jpeg" srcset=require("images/welcome/1200min/Sky1.jpg"))
       source(media="(min-width: 769px)" type="image/jpeg" srcset=require("images/welcome/769min/Sky1.jpg"))
       source(media="(max-width: 769px)" type="image/jpeg" srcset=require("images/welcome/768max/Sky1.jpg"))
       img(src="" alt="").brakepoint__image
