    .last-chapters {
        position: relative;
        min-height:1000px;
    }

    .last-chapters__content {
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
    }

    .layer {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        max-height: 100%;
    }

