section#main.main
  .container
    include ../layout/header
    
    .main__content
      .user-data
        .user-data__desc Личный сайт #[br] веб разработчика
        h1.user-data__name Евгения #[br] Самойлова
      .user-data_btn__icon
        a.scroll-down-btn Скролл
          +icon('scroll', 'scroll-down-btn__icon')
