section#main.main
  .container
    include ../layout/header
    
    .main__content
      .user-data
        .user-data__desc Личный сайт #[br] веб разработчика
        h1.user-data__name Евгения #[br] Самойлова

