div
  .about
    .about-header.container
      h1.title Блок "Обо мне"
      button(type="button" @click="addCategoryCard").add-btn.text
        .circle-add-btn
           iconed-btn(type="iconed" @click="onClick" title="Заголовок")
        | Добавить группу
    .about-content.container
      .card-list
        Category(:key="cat.id" v-for="cat in categories" :cat="cat")